.register-page{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #10B981; /* emerald green */
}

.register-box {
  width: 100%;
  max-width: 350px;
  background-color: white;
  padding: 20px;
  border: 1px solid white;
  border-radius: 18px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}


.register-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.register-box input:focus{
  outline: none;
  border-color: #10B981;
  box-shadow: 0 0 0 1px rgba(20, 180, 130, 0.2);
}


.register-box h2 {
  text-align: center;
  color: #222;
  margin-bottom: 1.5rem;
} 


.register-box p {
  text-align: center;
  margin: 1rem;
  font-size: 0.9rem;
}

.register-box button{
  width: 100%;
  background-color: #10B981;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.9rem;
  margin-bottom: 1rem;
}

.register-box button:hover{
  background-color: rgb(49, 222, 133);
  cursor: pointer;
}

.register-box select{
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%2310B981' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right;
}

.register-box select:focus{
  outline: none;
  border-color: #10B981;
  box-shadow: 0 0 0 1px rgba(20, 180, 130, 0.2);
}

.register-box option{
  padding: 10px;
}

.register-box a{
  color: #10B981;
}

.register-box a:hover{
  text-decoration: underline;
}

.BackForthButtons-box{
  width: 50%;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.9rem;
  margin-bottom: 1rem;
}