.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #10b981; /* Same background as login */
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 380px;
  background-color: white;
  border-radius: 18px;
  padding: 18px;
  text-align: center;
  border: 1px solid white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin: 0.5rem 0;
  color: #222;
}

.card p {
  margin: 0.2rem 0;
  color: #444;
  font-size: 0.95rem;
}

.card-photo {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 14px;
  margin: 0.8rem 0;
}

.buttons-box {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.like, .dislike {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  transition: transform 0.15s ease, background 0.15s ease;
}

.like {
  background-color: #10b981;
  color: white;
}

.like:hover {
  background-color: rgb(49, 222, 133);
  transform: scale(1.1);
}

.dislike {
  background-color: #ff4d4d;
  color: white;
}

.dislike:hover {
  background-color: #ff6b6b;
  transform: scale(1.1);
}
